version: '3.8'

services:
  frontend:
    build: ./frontend
    container_name: frontend
    environment:
      - BACKEND_URL=${BACKEND_URL:-http://192.168.1.20:5000}
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
